.yoga-card {
    background-color: #87DFCF; /* This is a soft green background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Simple shadow */
    padding: 20px; /* Spacing inside the card */
    margin: 10px; /* Spacing outside the card */
    gap: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yoga-card h1 {
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.video-btn{
    border: 1px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}